Django>=5.2,<6.0
djangorestframework>=3.15,<4.0
django-cors-headers>=4.7,<5.0
gunicorn>=23.0,<24.0
whitenoise>=6.9,<7.0

Pillow>=11.0,<12.0
numpy>=2.0,<3.0
requests>=2.32,<3.0

torch>=2.6,<3.0
torchvision>=0.21,<1.0
fastai>=2.8,<3.0

sentence-transformers>=4.0,<6.0
scikit-learn>=1.6,<2.0